---
const year = new Date().getFullYear();
---

<footer class="site-foot">
  <div class="wrap--wide site-foot__inner">
    <span>Liam Wise · MMXXVI</span>
    <span>
      <a href="/rss.xml">RSS</a>
      &nbsp;·&nbsp;
      <a href="https://github.com" rel="me">GitHub</a>
    </span>
  </div>
</footer>
